* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fdd116;
    line-height: 1.2;
}

.container {
    width: 85%;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #4c8dcd;
}

header h2 {
    padding: 0.2em 0;
    font-size: xx-large;
    text-align: center;
    color: white;
    font-style: italic; 
}

header img {
    display: block;
    /* ??? */
    width: 100%;
}

hr {
    border: 1px solid white;
}

main {
    display: flex;
}

nav {
    border-bottom: 1px dashed;
    background-color: #4c8dcd;
    color: white;
    text-align: center;
    padding: 1.4rem;
}

nav a {
    color: inherit;
    margin: 0 0.6rem;
    text-decoration: none;
}

article {
    width: 75%;
    text-align: center;
    margin: 0 1.1rem;
}

article p {
    text-align: justify;
    margin-bottom: 0.75rem;
}

article img {
    width: 32%;
    border: 1px solid black;
}

article h1 {
    color: #e3b11b;
    font-size: xx-large;
    padding: 0.5em 0;
    text-align: justify;
}

aside {
    width: 25%;
    margin: 4.5rem 0.6rem;
    background-color: #4c8dcd;
    color: white;
    padding: 0.6rem;
    height: fit-content;
    text-align: center;
}

aside figure {
    margin-bottom: 1rem;
}

aside h3 {
    color: white;
    font-size: x-large;
}

aside img {
    width: 75%;
    border: 2px solid;
}

figcaption {
    line-height: 1.2rem;
    margin-top: 0.5rem;
}

.legend {
    font-style: italic;
}

aside p {
    text-align: justify;
}

footer {
    background: #2b529d;
    color: white;
    text-align: center;
    padding: 0.3em;
    font-weight: 900;
    font-size: large;
    margin-top: auto;
}
