* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fdd116;
    line-height: 1.2;
}

.container {
    width: 85%;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #4c8dcd;
}

header h2 {
    padding: 0.3em 0;
    font-size: xx-large;
    text-align: center;
    color: white; 
}

header img {
    display: block;
    /* ??? */
    width: 100%;
}

main {
    display: flex;
    margin-top: 2.5rem;
}

nav {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c8dcd;
    color: white;
    margin: 0 0.6rem;
    padding: 0.6rem 1rem;
    height: fit-content;
}

nav a {
    color: inherit;
    line-height: 1.5rem;
}

article {
    width: 65%;
    text-align: justify;
}

article h1 {
    color: #e3b11b;
    font-size: xx-large;
    padding: 0.5em 0;
}

aside {
    width: 20%;
    margin: 0 0.6rem;
    background-color: #4c8dcd;
    color: white;
    padding: 0.6rem;
    font-weight: 700;
    height: fit-content;
    text-align: center;
}

aside figure {
    margin-bottom: 1rem;
}

aside h3 {
    color: white;
    font-size: x-large;
}

aside img {
    width: 50%;
    border: 2px solid;
}

aside p {
    text-align: justify;
}

footer {
    background: #2b529d;
    color: white;
    text-align: center;
    padding: 0.3em;
    font-weight: 900;
    font-size: large;
    margin-top: auto;
}