* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fdd116;
    line-height: 1.2;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
}

header {
    background: #4c8dcd;
}

header h2 {
    padding: 0.3em 0;
    font-size: xx-large;
    text-align: center;
    color: white;
    font-style: italic; 
}

header img {
    display: block;
    /* ??? */
    width: 100%;
}

hr {
    border: 1px solid white;
}

main {
    display: flex;
}

label, #burger {
    display: none;
}

nav {
    border-bottom: 1px dashed;
    background-color: #4c8dcd;
    color: white;
    text-align: center;
    padding: 1.4rem;
}

nav a {
    color: inherit;
    margin: 0 1.2rem;
    text-decoration: none;
}

article {
    width: 75%;
    text-align: center;
    margin: 0 0 1.2rem 1.2rem;
}

article h1 {
    color: #e3b11b;
    font-size: xx-large;
    padding: 0.5em 0;
    text-align: justify;
}

article p {
    text-align: justify;
    margin-bottom: 0.75rem;
}

article img {
    width: 32%;
    border: 1px solid black;
}

aside {
    width: 25%;
    margin: 4.5rem 1.2rem;
    background-color: #4c8dcd;
    color: white;
    padding: 0.6rem;
    height: fit-content;
    text-align: center;
}

aside img {
    width: 75%;
    border: 2px solid;
}

aside figure {
    margin-bottom: 1rem;
}

aside h3 {
    color: white;
    font-size: x-large;
}

figcaption {
    line-height: 1.2rem;
    margin-top: 0.5rem;
}

.legend {
    font-style: italic;
    font-size: medium;
}

aside p {
    text-align: justify;
}

footer {
    background: #2b529d;
    color: white;
    text-align: center;
    padding: 0.3em;
    font-weight: 900;
    font-size: large;
}

:any-link {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    main {
        display: block;
    }
    article {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
   
    aside {
        width: 95%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 900px) {
    article h1 {
        text-align: center;
    }

    .burger_content {
        display: none;
    }

    label {
        display: inline-block;
        font-size: 250%;
        cursor: pointer;
    }

    #burger:checked + .burger_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger_content a {
        margin: 7.5px;
        width: fit-content;
    }

    /* nav a {
        white-space: nowrap;
    } */
}